<section class="about-section bg-light" id="about">
  <div class="container px-4 px-lg-5">
      <!-- Featured Project Row-->
      <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
          <div class="col-xl-6 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/poxis1.jpg" alt="..." /></div>
          <div class="col-xl-6 col-lg-5">
              <div class="featured-text text-center text-lg-left">
                  <h4>pOxis</h4>
                  <p class="text-black-50 mb-0">I'm a seasoned trader with over 10 years of experience, passionate about sharing my deep knowledge of the markets and helping others succeed. My goal is to empower aspiring traders through practical, hands-on learning and mentorship</p>
              </div>
          </div>
      </div>
  </div>
</section>
